@media (max-width:1039px) {
    footer .link-us {
        text-align: left;
    }
}


@media (max-width:915px) {
    .container #contact {
        flex-direction: column;
        text-align: center;
    }
}



@media (max-width:876px) {
    .container nav ul {
        position: fixed;
        flex-direction: column;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        justify-content: space-evenly;
        align-items: center;
        background-color: #eee;
        opacity: 0;
        transform: scale(0);
        transition: 400ms ease-in-out;
    }

    .container nav ul.tampil {
        opacity: 1;
        transform: scale(1);
    }

    .container nav ul li a {
        font-size: 2em;
    }

    .container nav .hamburger-menu {
        width: 40px;
        height: 23px;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: space-between;
        position: relative;
        justify-self: end;
    }


    .container nav .hamburger-menu input:checked~span:nth-child(2) {
        transform: rotate(45deg) translate(10px, 1px);
    }

    .container nav .hamburger-menu input:checked~span:nth-child(3) {
        transform: scale(0);
        opacity: 0;
    }

    .container nav .hamburger-menu input:checked~span:nth-child(4) {
        transform: rotate(-45deg) translate(12px, -3px);
    }

    .container nav .hamburger-menu input {
        position: absolute;
        top: 0;
        left: 5px;
        width: 100%;
        height: 100%;
        cursor: pointer;
        opacity: 0;
        z-index: 999;
    }

    .container nav .hamburger-menu span {
        height: 5px;
        background-color: #000;
        transition: 200ms ease-in-out;
        border-radius: 8px;
        width: 30px;
    }

    .container .call-point h1 {
        font-size: 3em;
        text-align: center;
    }

    .container #project {
        margin-top: 30px;
    }

    .container #project img {
        margin: auto;
    }

    .container #service .sub-service {
        display: grid;
        grid-template-columns: 1fr;
        gap: 30px;
    }

    .container #service .sub-service .services {
        align-items: center;
    }
}

@media (max-width:576px) {
    .container .call-point h1 {
        font-size: 2em;
    }

    .container h3 {
        font-size: 2em;
        padding: 0 30px;
    }

    .container #project .text-project h2 {
        font-size: 2.3em;
        line-height: 60px;
        text-align: center;
    }


    .container #project img {
        max-width: 100%;
        height: 450px;
    }

    .container #service {
        grid-template-columns: 1fr;
    }

    .container #service .img-service {
        width: 100%;
    }


    .container #blog .content-blog {
        grid-template-columns: 1fr;
    }

    .container #contact {
        padding: 30px;
    }

    .container #contact a button {
        padding: 20px 40px;
    }
}

@media (max-width:420px) {
    .container nav h1 {
        font-size: 1.3em;
    }
}

@media (max-width:310px) {

    .container nav {
        padding: 25px 10px 0;
    }

    .container nav h1 {
        font-size: 1em;
    }
}